<div class="teamMain">
    <div>
        <h1>Account Page</h1>
    </div>
    <div>
        <h2>Welcome {{user.name}}</h2>
    </div>
    <div>
        <button ng-click="calendar()">Calendar</button>
    </div>
    <div>
        <button ng-click="createEvent()">Create Event</button>
    </div>
    <div>
        <button ng-click="createTeam()">Create Team</button>
    </div>
    <div>
        <button ng-click="teamView()">{{user.name}}'s Teams</button>
    </div>
    <div>
        <button ng-click="logOut()">Log Out</button>
    </div>
</div>